<header>
  <h2>Juanjo Lozano</h2>
  <div class="icons">
    <a href="https://linkedin.com/in/juanjo-lozano" target="_blank">
      <img
        src="https://img.icons8.com/color/48/000000/linkedin.png"
        width="40"
      />
    </a>
    <a href="https://github.com/juanjolb" target="_blank">
      <img
        src="https://img.icons8.com/color/48/000000/github--v1.png"
        width="40"
      />
    </a>
  </div>
  <h2>W2M Challenge</h2>
</header>
<mat-divider></mat-divider>

<router-outlet></router-outlet>

@if (isLoading) {
<app-spinner-overlay></app-spinner-overlay>
}
